<div id="menu-content" data-menu-signature="<%= @menu_signature %>">
  <%= render partial: "public_menus/menu_content",
             locals: { menu_items: @menu_items, menu_layout: @menu_layout } %>
</div>
