<div class="admin-content">
  <div class="admin-header">
    <h2>Modifier le plat</h2>
    <%= link_to "â† Retour au menu", restaurant_admin_menu_items_path(restaurant_slug: params[:restaurant_slug]), class: "btn btn-outline" %>
  </div>

  <div class="form-container">
    <%= form_with model: @menu_item, url: restaurant_admin_menu_item_path(restaurant_slug: params[:restaurant_slug], id: @menu_item), local: true, class: "admin-form", method: :patch, multipart: true do |form| %>
      <%= render 'form', form: form %>
    <% end %>
  </div>
</div>