<div class="admin-content">
  <div class="admin-header">
    <h2>Modifier le plat</h2>
    <%= link_to "â† Retour au menu", admin_menu_items_path, class: "btn btn-outline" %>
  </div>

  <div class="form-container">
    <%= form_with model: [:admin, @menu_item], local: true, class: "admin-form" do |form| %>
      <%= render 'form', form: form %>
    <% end %>
  </div>
</div>